* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

body {
    background-color: #000;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: lato;
}

.nav-area {
    background: #000;
    height: 62px;
    width: 100%;
}

.logo {
    font: 1.5rem Inconsolata, monospace;
    text-shadow: 0px 0px 5px #C8C8C8;
    color: #00e800;
    line-height: 70px;
    padding: 20px;
}

.nav-area ul {
    float: right;
    margin-right: 20px;
}

.nav-area ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

.nav-area ul li a {
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0px 0px 5px #C8C8C8;
    color: #fff;
    padding: 22px 15px;
    font-weight: bold;
}

.nav-area ul li a:hover {
    color: #00e800;
    transition: .5s;
}

.btn-area {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 62px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#box {
    display: none;
}

@media (max-width: 860px) {
    .btn-area {
        display: block;
    }

    .nav-area ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #00e800;
        top: 62px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .nav-area ul li {
        display: block;
        margin: 0;
        line-height: 30px;
        padding: 25px 0;
    }

    .nav-area ul li a {
        font-size: 30px;
    }

    .nav-area ul li:hover {
        background: #000;
    }

    .nav-area ul li a:hover {
        background: none;
    }

    #box:checked~ul {
        left: 0;
    }
}



/* .nav {
    text-align: center;
    background-color: #000;
    padding: 10px 0px;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
}

.nav a {
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 5px 2px 5px #C8C8C8;
    color: #fff;
    padding: 1rem 1.5rem 0;
    margin: 1.2rem;
}

.nav a:hover {
    color: #00e800;
    transition: .5s;
} */

.home {
    min-height: 100vh;
    background-image: url("../img/skills.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

/* .home-img{
    position: absolute;
    right: 2px;
    transform: translate(0%, 20%);
    -ms-transform: translate(-50%, -50%);
} */

.about,
.skills,
.projects {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.about {
    background-image: url("../img/bg1.jpg");

}

.skills {
    background-image: url("../img/gf (1).jpg");
}

.title {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    color: #00e800;
    padding-top: 2.5rem;
    font: 2rem Inconsolata, monospace;
    text-shadow: 2px 2px 5px #C8C8C8;
}

.ab-sec {
    display: flex;
    color: #fff;
    flex-direction: row-reverse;
    padding: 4rem;
    font: 1rem Inconsolata, monospace;
}

.ab-sec .col1,
.ab-sec .col2 {
    padding: 4rem;
    width: 50%;
}

.ab-sec .col1 h2 {
    color: rgb(160, 0, 75);
    padding-bottom: 1rem;
}


.sk-sec {
    display: flex;
    color: #fff;
    flex-direction: row;
    padding: 4rem;
    font: 1rem Inconsolata, monospace;
}

.sk-sec .col1,
.sk-sec .col2 {
    padding: 4rem;
    width: 50%;
    text-align: center;
}

.sk-sec .col1 h2,
.sk-sec .col2 h2 {
    color: rgb(160, 0, 75);
    padding-bottom: 1rem;
}

.sk-sec .col2 ul li,
.sk-sec .col1 ul li {
    padding: 5px 0;
    font-size: 1.2rem;
    color: khaki;
}

.btn {
    display: flex;
    padding: 10px;
    color: #fff;
    background-color: rgb(160, 0, 75);
    text-align: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover {
    opacity: 0.9;
    background-color: yellow;
    color: #000;
    font-weight: bold;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    /* text-align: center; */

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.txt1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto
}

.text {
    color: #f2f2f2;
    background-color: black;
    opacity: 0.7;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle {
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mySlides:hover .img {
    opacity: 0.4;
}

.mySlides:hover .middle {
    opacity: 0.8;
    color: white;
}

.text1 {
    background-color: rgb(70, 70, 70);
    font-size: 16px;
    padding: 16px 32px;
    font-weight: bold;
}

.text1 a{
    text-decoration: none;
    color: white;
}



/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}